<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="flitbit.log" type="FlitBit.Core.Log.LogConfigurationSection,FlitBit.Core"/>
	</configSections>
	<flitbit.log defaultTraceThreshold="Verbose">
	</flitbit.log>
	<system.diagnostics>
			<sources>
				<source name="default"
					switchName="default"
					switchType="System.Diagnostics.SourceSwitch">
					<listeners>
						<add name="console"
							type="System.Diagnostics.ConsoleTraceListener"/>
            <add name="logfile"/>
						<remove name="Default"/>
					</listeners>
				</source>
			</sources>
			<switches>
        <add name="default" value="Verbose"/>
			</switches>
			<sharedListeners>
				<add name="logfile"
					type="System.Diagnostics.TextWriterTraceListener"
					initializeData="trace.log">
					<filter type="System.Diagnostics.EventTypeFilter"
						initializeData="Error"/>
				</add>
			</sharedListeners>
		</system.diagnostics>
</configuration>